.btns-and-theme-hamb {
  @include center();
  -webkit-transition: all 0.3s ease-in-out;
  gap: $spacing;
  transition: all 0.3s ease-in-out;
  @media (max-width: 850px) {
    display: none;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #000000e3;
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 50vh;
    padding-top: 2rem;
    z-index: 1000;
  }
}
.btns-and-theme-hamb.show-menu {
  left: 0;
  display: block;
  display: flex;
  gap: 2rem;

  .buttons-register {
    flex-direction: column;
  }
}
