.btns-and-theme-hamb {
  @include center();
  -webkit-transition: all 0.3s ease-in-out;
  gap: $spacing;
  transition: transform 0.3s ease-in-out;
  .span-profiles {
    display: none;
  }
  @media (max-width: 850px) {
    display: none;
    position: fixed;
    left: 0;
    top: 123px;
    gap: 0;
    flex-direction: column;
    background-color: #000000e3;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 50vh;
    padding: 2rem;
    z-index: 1000;
    transform: translateY(-100%);
    border-bottom: 1px solid $primary-cyan;
    .span-profiles {
      display: block;
      font-family: $first-font;
      font-size: $primary-font-size;
      @include effect-paragraph();
    }
  }
}
.btns-and-theme-hamb.show-menu {
  transform: translateY(0);
  display: block;
  display: flex;
  gap: 2rem;

  @media (max-width: 850px) {
    .buttons-register {
      flex-direction: column;
    }
  }
}

.profile-cont {
  position: relative;
}
