@import '~node_modules/modern-normalize/modern-normalize.css';
@import './variables';
@import './mixin';

.header {
  padding: 1.5rem 3rem;
  border-bottom: 0.5px solid $primary-cyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  font-family: $first-font;
  transition: $transition;
  font-size: clamp(15px, 4vw, 25px);
  &:hover {
    color: $primary-cyan;
  }
}

.logo-header span {
  color: $primary-cyan;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 580px) {
    height: 2rem;
  }
}

.line {
  fill: none;
  stroke: $primary-color;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.navbar-header {
  display: none;
}

.display-header {
  display: flex;
}

.hamburger:checked {
  .navbar-header {
    display: block;
  }
}

.active {
  display: block;
}

.navbar-active {
  border-bottom: 1px solid $primary-cyan;
  @include center();
  &:checked {
    .navbar-header {
      display: block;
    }
  }
}

.navbar-header.active {
  width: 20%;
  height: 100vh;
  background-color: rgb(69, 52, 52);
  & {
    .header {
      width: 80%;
    }
  }
}

.header-btns {
  display: flex;
  gap: $spacing;
}

.register-btn {
  cursor: pointer;
  font-family: $first-font;
  @media (max-width: 680px) {
    display: none;
  }
}

.register-btn,
::after {
  padding: 10px 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: $primary-color;
  background-color: transparent;
  position: relative;
}

.register-btn::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: 'register';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.register-btn:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.register-btn:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.register-btn:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
