.custom-shape-divider-top-1710960493 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  line-height: 0;
}

.custom-shape-divider-top-1710960493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1710960493 .shape-fill {
  fill: $death-green;
}

.side-nav-bar {
  position: fixed;
  top: 10%;
  left: 0;
  height: 90%;
  background-color: $background-color;
  background-color: rgb(74, 73, 73);
  width: 15%;
  z-index: 0;
  @media (max-width: 815px) {
    width: 100%;
    height: 5rem;
    z-index: 100;
  }
}

.container-hero {
  margin-left: 15%;
  margin-top: 8rem;
  @media (max-width: 815px) {
    margin-left: 0%;
    margin-top: 10rem;
  }
}

.container-hero h1 {
  text-align: start;
  margin: 0rem 0rem 3rem 5rem;
  font-family: $first-font;
  font-weight: $primary-font-weight;
  font-size: $heading-font-size;
  text-shadow: $main-text-shadow;
  letter-spacing: $letter-spacing;
  display: none;
  @media (max-width: 815px) {
    text-align: center;
    margin: 2rem 1rem;
  }
}

.container-hero h1 span {
  color: $primary-cyan;
}

.main-gallery {
  flex-wrap: wrap;
  @include center();
  align-items: self-start;
  gap: $spacing;
  padding-bottom: 5rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: $death-green;
  border-radius: $spacing;
  cursor: pointer;
}

.card-container {
  width: 310px;
  background-color: rgb(11, 9, 9);
  border-radius: 2.5rem;
  position: relative;
  transition: 250ms;
  padding-bottom: 1.5rem;
  @media (max-width: 400px) {
    width: 100%;
  }
}

.stats-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.stats-cards p {
  padding: $letter-spacing;
  text-shadow: $main-text-shadow;
}

.cards-home-game-title {
  text-align: center;
  margin: 0 1.5rem;
  margin-bottom: 20px;
  font-weight: $primary-font-weight;
}

.first-content-card {
  @include center();
  flex-direction: column;
}

.img-content > div {
  text-align: center;
}

.first-content-card img {
  border-radius: 2rem 2rem 0rem 0rem;
}

.second-content-card {
  position: absolute;
  top: 92%;
  left: 50%;
  width: 310px;
  transform: translateX(-50%);
  background-color: rgb(11, 9, 9);
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  padding: 0.4rem 2.5rem 1rem 2.5rem;
  color: $primary-color;
  display: none;
  transition: $transition-cards;
  z-index: 888;
  font-size: 10px;
}

.card-container:hover {
  border-radius: 2.5rem 2.5rem 1.5rem 1.5rem;
  transform: scale(1.03);
  z-index: 888;
}

.first-content-card img:hover {
  backdrop-filter: grayscale(100%);
}

.card-container:not(:hover) .first-content-card img {
  backdrop-filter: grayscale(100%);
}

.card-container:hover .second-content-card {
  display: block;
}

.cards-home-game-genres {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.view-details-btn {
  margin-top: 10px;
  font-size: 9px;
  letter-spacing: $letter-spacing;
  cursor: pointer;
  color: $primary-cyan;
  background-color: transparent;
  text-transform: uppercase;
  font-family: $first-font;
  border: none;
  border-bottom: 1px solid $primary-cyan;
  text-shadow: $main-text-shadow;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255),
    0px 5px 20px 0px rgb(0, 225, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
}

.spinner1 {
  background-color: $background-color;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
