.custom-shape-divider-top-1710960493 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  line-height: 0;
}

.custom-shape-divider-top-1710960493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1710960493 .shape-fill {
  fill: $death-green;
}

.side-nav-bar {
  position: fixed;
  top: 10%;
  left: 0;
  height: 90%;
  background-color: $background-color;
  width: 15%;
}

.container-hero {
  overflow: auto;
  position: relative;
}

.main-gallery {
  margin-left: 20%;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
}

// .main {
//   height: 100vh;
//   width: 100vh;
// }

::-webkit-scrollbar {
  width: 12px; // Szerokość paska przewijania
}

::-webkit-scrollbar-thumb {
  background-color: $death-green; // Kolor kciuka paska przewijania
  border-radius: $spacing;
  cursor: pointer;
}

.cards-game-home-list {
  width: 350px;
}
