.login-container {
  @include modal-styles();
}

.login-container.show-menu {
  display: block;
}

.login-content {
  @include modal-content();

  box-sizing: border-box;
  border-radius: 1.5rem;
  background-size: 200% 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0.756)) padding-box,
    linear-gradient(145deg, transparent 35%, $primary-cyan, $pink) border-box;
  border: 2px solid transparent;
  animation: gradient 5s ease infinite;
  backdrop-filter: blur(5px);
  h2 {
    text-align: center;
    font-family: $first-font;
    font-size: $heading-font-size;
  }
}

.close-btn {
  @include close-btn();
}
