#modalDetailsCard {
  @include modal-styles();
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.941);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  width: 50%;
  margin: 10% auto;
  padding: 3rem;
  border-radius: $spacing;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  h2 {
    color: $primary-color;
    font-family: $first-font;
    font-size: $modal-font-size;
  }
}

.modal-content > div {
  display: flex;
  gap: $spacing;
  padding: $spacing;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.slider {
  display: none;
}

.stats-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stats-modal p {
  font-family: $first-font;
}

.stats-modal span {
  font-family: $second-font;
}
