#modalDetailsCard {
  @include modal-styles();
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.941);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  height: 100vh;
  position: relative;
  // padding: 3rem;
  border-radius: $spacing;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  @media (max-width: 550px) {
    padding: 2.5rem 1rem;
  }

  // img {
  //   max-width: 400px;
  // }

  @media (max-width: 1400px) {
    max-width: 100%;
    margin: 10%;
  }

  @media (max-width: 1000px) {
    margin: 10% 5%;

    img {
      max-width: 350px;
    }
  }

  h2 {
    color: $primary-color;
    font-family: $first-font;
    font-size: $modal-font-size;
    margin: 3rem;
  }

  @media (max-width: 400px) {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

.container-modal-div {
  @include center();
  gap: $spacing;
  padding: $spacing;

  @media (max-width: 950px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .buttons-modal {
      justify-content: center;
      align-items: center;
    }
    img {
      height: auto;
    }
  }

  @media (max-width: 550px) {
    img {
      max-width: 100%;
    }
    .buttons-modal {
      flex-direction: column;
      button {
        padding: 0.5rem;
        font-size: 15px;
        width: 100%;
      }
      margin-bottom: 10px;
    }
  }
}

.stats-modal-styles {
  display: flex;
  justify-content: space-between;

  p {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  span {
    color: white;
    letter-spacing: $letter-spacing;
    font-weight: 300;
    border-bottom: 0.5px solid $primary-cyan;
  }
}

.close {
  color: #aaa;
  position: absolute;
  top: 70px;
  right: 35px;
  font-size: 40px;
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.slider {
  display: none;
}

.stats-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stats-modal {
  p {
    font-family: $first-font;
    font-size: $modal-font-size;
  }
  span {
    font-family: $second-font;
  }
}

.buttons-modal {
  display: flex;
  gap: $spacing;
}

.buttons-modal {
  button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    background-color: $primary-color;
    border: none;
    font-family: $first-font;
    padding: 1rem;
    cursor: pointer;

    span {
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      font-weight: 900;
      color: $red;
    }

    .stat-modal-btn {
      color: $background-color;
      font-weight: 500;
      position: absolute;
      bottom: 0;
      right: 1;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      background: $red;
      height: 150px;
      width: 230px;
      border-radius: 50%;
    }

    &:hover {
      color: $primary-color;

      span {
        color: white;
      }
    }

    &:before {
      top: 100%;
      left: 100%;
      transition: all 0.7s;
    }

    &:hover:before {
      top: -30px;
      left: -30px;
    }

    &:active:before {
      background: $primary-cyan;
      transition: background 0s;
    }
  }
}

.follow-us {
  color: white;
  background-color: $death-green;
  width: 100%;
  padding: 0.5rem 0rem;
  letter-spacing: $letter-spacing;
  font-weight: $primary-font-weight;
  font-family: $first-font;
  span {
    animation: marquee 20s linear infinite;
  }
}
