#modalDetailsCard {
  @include modal-styles();
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.941);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  max-width: 60%;
  margin: 10% auto;
  padding: 3rem;
  border-radius: $spacing;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  h2 {
    color: $primary-color;
    font-family: $first-font;
    font-size: $modal-font-size;
  }
}

.modal-content > div {
  display: flex;
  gap: $spacing;
  padding: $spacing;
}

.stats-modal-styles {
  display: flex;
  justify-content: space-between;
  p {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  span {
    color: white;
    letter-spacing: $letter-spacing;
    font-weight: 300;
    border-bottom: 0.5px solid $primary-cyan;
  }
}

.close {
  color: #aaa;
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 40px;
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.slider {
  display: none;
}

.stats-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stats-modal {
  p {
    font-family: $first-font;
  }
  span {
    font-family: $second-font;
  }
}

.buttons-modal {
  display: flex;
  gap: $spacing;
}

.buttons-modal {
  button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    background-color: $primary-color;
    border: none;
    font-family: $first-font;
    padding: 1rem;
    cursor: pointer;

    span {
      letter-spacing: $letter-spacing;
      text-transform: uppercase;
      font-weight: 900;
      color: $red;
    }

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      background: $red;
      height: 150px;
      width: 230px;
      border-radius: 50%;
    }

    &:hover {
      color: $primary-color;

      span {
        color: white;
      }
    }

    &:before {
      top: 100%;
      left: 100%;
      transition: all 0.7s;
    }

    &:hover:before {
      top: -30px;
      left: -30px;
    }

    &:active:before {
      background: $primary-cyan;
      transition: background 0s;
    }
  }
}
