.singup-container {
  @include modal-styles();
}

.singup-content {
  @include modal-content();
  @include center();

  p {
    color: $primary-color;
    margin-top: 2rem;
    span {
      position: relative;
      @include effect-paragraph();
      transition: $transition;
      cursor: pointer;
      &:hover {
        color: $primary-cyan;
      }
    }
  }

  .login-box {
    width: 70%;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    @include inputs-styles();

    form button {
      @include button-styles();
    }
  }
}
