.singup-container {
  @include modal-styles();
}

.singup-content {
  @include modal-content();
  @include center();

  h2 {
    text-align: center;
    font-family: $first-font;
    font-size: $heading-font-size;
  }

  p {
    color: $primary-color;
    margin-top: 2rem;
    span {
      position: relative;
      @include effect-paragraph();
      transition: $transition;
      cursor: pointer;
      &:hover {
        color: $primary-cyan;
      }
    }
  }

  @media (max-width: 1000px) {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0;
  }
}
