.user-modal {
  @include modal-styles();
}

.user-modal-content {
  @include modal-content();
}

.user-modal-close {
  @include close-btn();
}

.user-name {
  text-align: center;
  font-family: $first-font;
  font-size: $heading-font-size;
}
