.user-modal {
  @include modal-styles();
}

.user-modal-content {
  @include modal-content();
  padding: 0rem;
}

.user-modal-close {
  @include close-btn();
  top: 10;
}

.user-profile {
  @include center();
  flex-direction: column;
  padding: 0 0 2rem 0;
  h2 {
    text-align: center;
    font-family: $first-font;
    font-size: $heading-font-size;
    color: $primary-color;
  }

  @include btn-modal();

  p {
    color: $primary-color;
  }

  .background-image {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 7rem;
    background-color: rgb(0, 0, 0);
    position: relative;
    margin-bottom: 2rem;

    .user-icon {
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      left: 50%;
      bottom: 20;
      transform: translate(-50%, 50%);
    }
  }
}
