.user-modal {
  @include modal-styles();
}

.user-modal-content {
  @include modal-content();
}

.user-modal-close {
  @include close-btn();
}

.user-profile {
  @include center();
  flex-direction: column;
  h2 {
    text-align: center;
    font-family: $first-font;
    font-size: $heading-font-size;
    color: $primary-color;
  }

  @include btn-modal();

  p {
    color: $primary-color;
  }

  .background-image {
    width: 80%;
    background-color: black;
  }
}
