@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');

$background-color: #0c0c0c;
$primary-color: #c7c7c7;
$first-font: 'Trade Winds', system-ui;
$second-font: 'Montserrat', sans-serif;
$primary-cyan: rgb(0, 255, 213);
$transition: 250ms ease-in-out;
$background-elements: #0000003b;
$death-green: #0847437c;
$transition-cards: 250ms;
$red: rgb(255, 0, 0);
$back-header: rgba(0, 0, 0, 0.89);
$pink: #e94be8;
$back-light-theme: #fbfbfb;

$primary-font-size: clamp(10px, 3vw, 17px);
$modal-font-size: clamp(10px, 3vw, 20px);
$heading-font-size: clamp(35px, 3vw, 50px);
$input-font-size: clamp(10px, 3vw, 15px);
$primary-font-weight: 600;
$spacing: 2rem;
$letter-spacing: 2px;
$main-text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
