@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');

$background-color: #0c0c0c;
$primary-color: #c7c7c7;
$first-font: 'Trade Winds', system-ui;
$second-font: 'Montserrat', sans-serif;
$primary-cyan: rgb(0, 255, 213);
$transition: 250ms ease-in-out;
$background-elements: #0000003b;
$death-green: #0847437c;
$transition-cards: 250ms;

$primary-font-size: clamp(10px, 3vw, 17px);
$heading-font-size: clamp(35px, 3vw, 50px);
$input-font-size: clamp(10px, 3vw, 15px);
$modal-font-size: clamp(20px, 3vw, 35px);
$primary-font-weight: 600;
$spacing: 2rem;
$letter-spacing: 2px;
$main-text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
