<div class="custom-shape-divider-top-1710960493">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
    </svg>
</div>
<section class="hero-section">
    <div class="side-nav-bar">
        <label for="genre-select">Wybierz gatunek gry:</label>
        <select id="genre-select"></select>
    </div>
    <div class="container container-hero">
        <h1 class="hero-heading">Most popular <span>gameS</span> </h1>
        <div class="spinner">
            <div class="spinner1"></div>
        </div>
        <ul class="main-gallery">
            <!--  -->
        </ul>
        <button class="load-more-button">load-more-button</button>
    </div>
</section>