<div class="login-container">
    <div class="login-content">
        <span class="close-btn">&times;</span>
        <h2>Log in!</h2>
        <div class="login-box">

            <form>
                <div class="user-box">
                    <input type="name" name="" required="" id="username-login">
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="" id="username-password">
                    <label>Password</label>
                </div>
                <center>
                    <button class="log-in">Log in</button>
                </center>

            </form>

        </div>
        <p>Not account yet? <span>Click here.</span> </p>
    </div>
</div>