<div class="singup-container">
    <div class="singup-content">
        <h2>Join us!</h2>
        <div class="form-container">
            <form id="signup-form">
                <label for="username-singup">Username:</label><br>
                <input type="text" id="username-singup" name="username"><br>
                <label for="email-singup">Email:</label><br>
                <input type="email" id="email-singup" name="email"><br>
                <label for="password-singup">Password:</label><br>
                <input type="password" id="password-singup" name="password"><br><br>
                <button type="submit">Sign Up</button>
            </form>
            <span class="close-btn">&times;</span>
        </div>
    </div>
</div>