<div id="userModal" class="user-modal">
    <div class="user-modal-content">
        <span class="user-modal-close">&times;</span>
        <div class="user-profile">

            <div class="background-image">
                <label for="backgroundImgInput">
                    <div class="bg-image"></div>

                </label>
                <input type="file" id="backgroundImgInput" style="display: none;">
            </div>

            <div class="container-user-icon">
                <label for="profilePicInput">
                    <img src="./images/ProfileUser.png" alt="User Icon" id="userIcon" />
                </label>
                <input type="file" id="profilePicInput" style="display: none;">
            </div>

            <p class="nickname">AppGamesNickname</p>
            <ul>
                <li><button>My WishList</button></li>
                <li><button>My Games</button></li>
            </ul>
            <ul class="user-informations">
                <li>
                    <p>Join date:</p>
                </li>
                <li>
                    <p>
                        <span id="copyButton">Copy your ID</span>
                    </p>

                </li>
                <li>
                    <p>
                        <span class="log-out">Log out</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>