<div id="userModal" class="user-modal">
    <div class="user-modal-content">
        <span class="user-modal-close">&times;</span>
        <div class="user-profile">

            <div class="background-image">
                <div class="user-icon"></div>
            </div>
            <p class="nickname">AppGamesNickname</p>
            <ul>
                <li><button>My WishList</button></li>
                <li><button>My Games</button></li>
            </ul>
            <ul class="user-informations">
                <li>
                    <p>Join date:</p>
                </li>
                <li>
                    <p><span>Copy your ID</span></p>

                </li>
            </ul>
            <div class="tooltip-user-modal">
                <p>Copy</p>
                <div></div>
            </div>
        </div>
    </div>
</div>