@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.wave-group {
  position: relative;
}

.logo-header {
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  font-size: clamp(10px, 3vw, 17px);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.logo-header span {
  color: rgb(0, 255, 213);
}

.wave-group .input {
  font-size: clamp(10px, 3vw, 15px);
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  color: #c7c7c7;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: clamp(10px, 3vw, 15px);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(0, 255, 213);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(0, 255, 213);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.89);
}

.buttons-register {
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .buttons-register {
    display: none;
  }
}

.user-icon {
  width: 2rem;
  border-radius: 50%;
  background-color: rgb(0, 255, 213);
  height: 2rem;
}
@media (max-width: 800px) {
  .user-icon {
    display: none;
  }
}

.buttons-register button {
  padding: 10px 50px;
  font-size: clamp(10px, 3vw, 17px);
  border: none;
  border-radius: 5px;
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  color: #c7c7c7;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.buttons-register button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "register";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.buttons-register button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}
.buttons-register button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

.hamburger {
  cursor: pointer;
  display: none;
}
@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 1.7em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #c7c7c7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
body {
  background-color: #0c0c0c;
  color: #c7c7c7;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #c7c7c7;
}

li {
  list-style: none;
}

.container {
  max-width: 1800px;
}

section {
  align-items: center;
  justify-content: center;
  display: flex;
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.custom-shape-divider-top-1710960493 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  line-height: 0;
}

.custom-shape-divider-top-1710960493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1710960493 .shape-fill {
  fill: rgba(8, 71, 67, 0.4862745098);
}

.container-hero {
  margin-left: 15%;
  margin-top: 8rem;
}
@media (max-width: 1030px) {
  .container-hero {
    margin-left: 0%;
    margin-top: 10rem;
  }
}

.container-hero h1 {
  text-align: start;
  margin: 2rem 0rem 3rem 5rem;
  font-family: "Trade Winds", system-ui;
  font-weight: 600;
  font-size: clamp(35px, 3vw, 50px);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  letter-spacing: 2px;
}
@media (max-width: 815px) {
  .container-hero h1 {
    text-align: center;
    margin: 2rem 1rem;
  }
}

.container-hero h1 span {
  color: rgb(0, 255, 213);
}

.main-gallery {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: self-start;
  gap: 2rem;
  padding-bottom: 5rem;
}

.card-container {
  width: 310px;
  background-color: rgb(11, 9, 9);
  border-radius: 2.5rem;
  position: relative;
  z-index: 1;
  transition: 250ms;
  padding-bottom: 1.5rem;
}
.card-container:hover {
  border-radius: 2.5rem 2.5rem 1.5rem 1.5rem;
  transform: scale(1.03);
  z-index: 888;
}
@media (max-width: 400px) {
  .card-container {
    width: 280px;
  }
  .card-container img {
    width: 280px;
    height: auto;
  }
}

.stats-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.stats-cards p {
  padding: 2px;
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.cards-home-game-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.first-content-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img-content > div {
  padding: 0rem 1.5rem;
}

.first-content-card img {
  border-radius: 2rem 2rem 0rem 0rem;
}

.second-content-card {
  position: absolute;
  top: 92%;
  left: 50%;
  width: 310px;
  transform: translateX(-50%);
  background-color: rgb(11, 9, 9);
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  padding: 0.4rem 2.5rem 1rem 2.5rem;
  color: #c7c7c7;
  display: none;
  transition: 250ms;
  z-index: 888;
  font-size: 10px;
}

.card-container:hover .second-content-card {
  display: block;
}

.cards-home-game-genres {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.view-details-btn {
  margin-top: 10px;
  font-size: 9px;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(0, 255, 213);
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Trade Winds", system-ui;
  border: none;
  border-bottom: 1px solid rgb(0, 255, 213);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.btns-gallery {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}
.btns-gallery button {
  padding: 10px 50px;
  font-size: clamp(10px, 3vw, 17px);
  border: none;
  border-radius: 5px;
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  color: #c7c7c7;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}
.btns-gallery button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "register";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.btns-gallery button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}
.btns-gallery button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}
.btns-gallery button::after {
  content: "page";
  height: 1rem;
}

#modalDetailsCard {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.941);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  height: 100vh;
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 550px) {
  .modal-content {
    padding: 2.5rem 1rem;
  }
}
@media (max-width: 1400px) {
  .modal-content {
    max-width: 100%;
    margin: 10%;
  }
}
@media (max-width: 1000px) {
  .modal-content {
    margin: 10% 5%;
  }
  .modal-content img {
    max-width: 350px;
  }
}
.modal-content h2 {
  color: #c7c7c7;
  font-family: "Trade Winds", system-ui;
  font-size: clamp(20px, 3vw, 35px);
  margin: 3rem;
}
@media (max-width: 400px) {
  .modal-content {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

.container-modal-div {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
@media (max-width: 950px) {
  .container-modal-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-modal-div .buttons-modal {
    justify-content: center;
    align-items: center;
  }
  .container-modal-div img {
    height: auto;
  }
}
@media (max-width: 550px) {
  .container-modal-div img {
    max-width: 100%;
  }
  .container-modal-div .buttons-modal {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .container-modal-div .buttons-modal button {
    padding: 0.5rem;
    font-size: 15px;
    width: 100%;
  }
}

.stats-modal-styles {
  display: flex;
  justify-content: space-between;
}
.stats-modal-styles p {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.stats-modal-styles span {
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  border-bottom: 0.5px solid rgb(0, 255, 213);
}

.close {
  color: #aaa;
  position: absolute;
  top: 70px;
  right: 35px;
  font-size: 40px;
}
.close:hover {
  color: #c7c7c7;
  cursor: pointer;
}

.slider {
  display: none;
}

.stats-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stats-modal p {
  font-family: "Trade Winds", system-ui;
}
.stats-modal span {
  font-family: "Montserrat", sans-serif;
}

.buttons-modal {
  display: flex;
  gap: 2rem;
}

.buttons-modal button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  background-color: #c7c7c7;
  border: none;
  font-family: "Trade Winds", system-ui;
  padding: 1rem;
  cursor: pointer;
}
.buttons-modal button span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(255, 0, 0);
}
.buttons-modal button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgb(255, 0, 0);
  height: 150px;
  width: 230px;
  border-radius: 50%;
}
.buttons-modal button:hover {
  color: #c7c7c7;
}
.buttons-modal button:hover span {
  color: white;
}
.buttons-modal button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.buttons-modal button:hover:before {
  top: -30px;
  left: -30px;
}
.buttons-modal button:active:before {
  background: rgb(0, 255, 213);
  transition: background 0s;
}

.follow-us {
  color: white;
  background-color: rgba(8, 71, 67, 0.4862745098);
  width: 100%;
  padding: 0.5rem 0rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Trade Winds", system-ui;
}
.follow-us span {
  animation: marquee 20s linear infinite;
}

.user-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.user-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.user-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.user-modal-close:hover,
.user-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.side-nav-bar {
  position: fixed;
  top: 10%;
  left: 0;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.231372549);
  width: 15%;
  z-index: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 1030px) {
  .side-nav-bar {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 4rem;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.89);
    border: 1px solid rgba(8, 71, 67, 0.4862745098);
    z-index: 999;
  }
}

#genre-list {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1030px) {
  #genre-list {
    flex-direction: row;
    gap: 2rem;
  }
}
#genre-list li {
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
  transition: 250ms ease-in-out;
  padding: 5px 1.5rem;
  position: relative;
}
#genre-list li span {
  position: relative;
}
#genre-list li span::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: rgba(8, 71, 67, 0.4862745098);
  transition: width 0.5s, left 0.5s;
  right: 0;
}
#genre-list li span:hover::after {
  width: 100%;
  left: 0;
}
#genre-list li:hover {
  color: #c7c7c7;
  cursor: pointer;
}

@media (max-width: 1030px) {
  .marquee-container {
    width: 100%;
    overflow: hidden;
  }
  .marquee-container #genre-list {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 20s linear infinite;
  }
  .marquee-container #genre-list:hover {
    animation-play-state: paused;
  }
  .marquee-container #genre-list li {
    display: inline-block;
    padding: 0 10px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/*# sourceMappingURL=index.css.map */
