@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.wave-group {
  position: relative;
}

.logo-header {
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  font-size: clamp(15px, 3vw, 17px);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.logo-header span {
  color: rgb(0, 255, 213);
}
@media (max-width: 500px) {
  .logo-header span {
    display: none;
  }
}

.wave-group .input {
  font-size: clamp(10px, 3vw, 15px);
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  color: #c7c7c7;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: clamp(10px, 3vw, 15px);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(0, 255, 213);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(0, 255, 213);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.89);
}

.buttons-register {
  display: flex;
  gap: 2rem;
}

.user-icon {
  width: 2rem;
  border-radius: 50%;
  background-color: rgb(0, 255, 213);
  height: 2rem;
}
@media (max-width: 850px) {
  .user-icon {
    display: none;
  }
}

.buttons-register button {
  padding: 10px 50px;
  font-size: clamp(15px, 3vw, 17px);
  border: none;
  border-radius: 5px;
  height: 3rem;
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  color: #c7c7c7;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  text-wrap: nowrap;
}
.buttons-register button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "register";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.buttons-register button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}
.buttons-register button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}
.buttons-register button:disabled {
  cursor: not-allowed;
}

.hamburger {
  cursor: pointer;
  display: none;
}
@media (max-width: 850px) {
  .hamburger {
    display: block;
  }
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 1.7em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #c7c7c7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.switch {
  font-size: 10px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.1em;
  background-color: rgb(0, 255, 213);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgb(0, 255, 213);
  border: 2px solid #e94be8;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
body {
  background-color: #0c0c0c;
  color: #c7c7c7;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.9s ease;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #c7c7c7;
}

li {
  list-style: none;
}

.container {
  max-width: 1800px;
}

section {
  align-items: center;
  justify-content: center;
  display: flex;
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.custom-shape-divider-top-1710960493 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  line-height: 0;
}

.custom-shape-divider-top-1710960493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1710960493 .shape-fill {
  fill: rgb(0, 255, 213);
}

.container-hero {
  margin-left: 15%;
  margin-top: 8rem;
}
@media (max-width: 1030px) {
  .container-hero {
    margin-left: 0%;
    margin-top: 10rem;
  }
}

.container-hero h1 {
  text-align: start;
  margin: 2rem 0rem 3rem 5rem;
  font-family: "Trade Winds", system-ui;
  font-weight: 600;
  font-size: clamp(35px, 3vw, 50px);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  letter-spacing: 2px;
}
@media (max-width: 815px) {
  .container-hero h1 {
    text-align: center;
    margin: 2rem 1rem;
  }
}

.container-hero h1 span {
  color: rgb(0, 255, 213);
}

.main-gallery {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: self-start;
  gap: 2rem;
  padding-bottom: 5rem;
}

.card-container {
  width: 310px;
  background-color: rgb(11, 9, 9);
  border-radius: 2.5rem;
  position: relative;
  z-index: 1;
  transition: 250ms;
  padding-bottom: 1.5rem;
}
.card-container:hover {
  border-radius: 2.5rem 2.5rem 1.5rem 1.5rem;
  transform: scale(1.03);
  z-index: 888;
}
@media (max-width: 400px) {
  .card-container {
    width: 280px;
  }
  .card-container img {
    width: 280px;
    height: auto;
  }
}

.stats-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.stats-cards p {
  padding: 2px;
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.cards-home-game-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.first-content-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img-content > div {
  padding: 0rem 1.5rem;
}

.first-content-card img {
  border-radius: 2rem 2rem 0rem 0rem;
}

.second-content-card {
  position: absolute;
  top: 92%;
  left: 50%;
  width: 310px;
  transform: translateX(-50%);
  background-color: rgb(11, 9, 9);
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  padding: 0.4rem 2.5rem 1rem 2.5rem;
  color: #c7c7c7;
  display: none;
  transition: 250ms;
  z-index: 888;
  font-size: 10px;
  font-weight: 500;
}
@media (max-width: 400px) {
  .second-content-card {
    width: 280px;
  }
}

.card-container:hover .second-content-card {
  display: block;
}

.cards-home-game-genres {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.058);
  padding: 5px 0px;
}
.cards-home-game-genres span {
  margin-right: 10px;
}

.view-details-btn {
  margin-top: 10px;
  font-size: 9px;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(0, 255, 213);
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Trade Winds", system-ui;
  border: none;
  border-bottom: 1px solid rgb(0, 255, 213);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.btns-gallery {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 3rem;
}
.btns-gallery button {
  padding: 10px 50px;
  font-size: clamp(15px, 3vw, 17px);
  border: none;
  border-radius: 5px;
  height: 3rem;
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  color: #c7c7c7;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  text-wrap: nowrap;
}
.btns-gallery button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "register";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.btns-gallery button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}
.btns-gallery button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}
.btns-gallery button:disabled {
  cursor: not-allowed;
}
.btns-gallery button::after {
  content: "page";
  height: 1rem;
}

#modalDetailsCard {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  backdrop-filter: blur(5px);
  border-radius: 5px;
  height: 100vh;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-position: center;
}
@media (max-width: 1400px) {
  .modal-content {
    max-width: 100%;
  }
}
.modal-content .title-modal-content {
  z-index: 2;
}
.modal-content h2 {
  color: #c7c7c7;
  font-family: "Trade Winds", system-ui;
  font-size: clamp(35px, 3vw, 50px);
  z-index: 2;
}

.container-modal-div {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2rem;
  max-width: 1800px;
  overflow: auto;
}
@media (max-width: 950px) {
  .container-modal-div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-modal-div .buttons-modal {
    justify-content: center;
    align-items: center;
  }
  .container-modal-div img {
    height: auto;
  }
}
@media (max-width: 550px) {
  .container-modal-div img {
    max-width: 100%;
  }
  .container-modal-div .buttons-modal {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .container-modal-div .buttons-modal button {
    padding: 0.5rem;
    font-size: 15px;
    width: 100%;
  }
}
@media (max-width: 1365px) {
  .container-modal-div {
    padding: 0;
    padding-top: 5rem;
  }
}

.stats-modal-styles {
  display: flex;
  z-index: 2;
  justify-content: space-between;
}
.stats-modal-styles p {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.stats-modal-styles span {
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  border-bottom: 0.5px solid rgb(0, 255, 213);
}

.close {
  color: #aaa;
  position: absolute;
  top: 30;
  right: 30;
  font-size: 40px;
  z-index: 999;
  transition: 250ms ease-in-out;
  position: absolute;
  top: 70;
  right: 60;
}
.close:hover {
  color: rgb(0, 255, 213);
  cursor: pointer;
}

.stats-modal {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}
@media (max-width: 1365px) {
  .stats-modal {
    width: 80%;
    gap: 2rem;
  }
}

.stats-modal {
  z-index: 2;
}
.stats-modal p {
  font-family: "Trade Winds", system-ui;
  font-size: clamp(10px, 3vw, 20px);
}
.stats-modal span {
  font-family: "Montserrat", sans-serif;
}

.buttons-modal {
  display: flex;
  gap: 2rem;
}

.buttons-modal button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  background-color: #c7c7c7;
  border: none;
  font-family: "Trade Winds", system-ui;
  padding: 1rem;
  z-index: 2;
  cursor: pointer;
  text-wrap: nowrap;
}
.buttons-modal button span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(255, 0, 0);
}
.buttons-modal button .stat-modal-btn {
  color: #0c0c0c;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 1;
}
.buttons-modal button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgb(255, 0, 0);
  height: 150px;
  width: 230px;
  border-radius: 50%;
}
.buttons-modal button:hover {
  color: #c7c7c7;
}
.buttons-modal button:hover span {
  color: white;
}
.buttons-modal button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.buttons-modal button:hover:before {
  top: -30px;
  left: -30px;
}
.buttons-modal button:active:before {
  background: rgb(0, 255, 213);
  transition: background 0s;
}

.follow-us {
  color: white;
  background-color: red;
  width: 100%;
  padding: 0.5rem 0rem;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Trade Winds", system-ui;
}
.follow-us span {
  animation: marquee 20s linear infinite;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.966), rgb(0, 0, 0));
}

.screenshots-modal {
  z-index: 2;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
}
@media (max-width: 1365px) {
  .screenshots-modal {
    display: none;
  }
}
.screenshots-modal img {
  max-height: 200px;
  transition: 250ms ease-in-out;
}
.screenshots-modal img:hover {
  filter: grayscale(1);
}

.view-more-screenshots {
  position: relative;
  color: white;
  cursor: pointer;
  display: none;
}
@media (max-width: 1365px) {
  .view-more-screenshots {
    display: block;
  }
}
.view-more-screenshots span {
  position: relative;
  font-family: "Trade Winds", system-ui;
}
.view-more-screenshots span::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: rgb(0, 255, 213);
  transition: width 0.5s, left 0.5s;
  right: 0;
  box-shadow: 0px 3px 15px rgb(0, 255, 213);
}
.view-more-screenshots span:hover::after {
  width: 100%;
  left: 0;
}

.description-content {
  max-height: 350px;
  overflow-y: auto;
}
@media (max-width: 400px) {
  .description-content {
    max-height: 250px;
  }
}

.user-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.user-modal-content {
  margin: 10% auto;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  background-size: 200% 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0.756)) padding-box, linear-gradient(145deg, transparent 35%, rgb(0, 255, 213), #e94be8) border-box;
  border: 2px solid transparent;
  animation: gradient 5s ease infinite;
  backdrop-filter: blur(5px);
  position: relative;
  width: 500px;
  padding: 5rem 0rem;
  flex-direction: column;
  padding: 0rem;
}
@media (max-width: 1000px) {
  .user-modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.user-modal-close {
  color: #aaa;
  position: absolute;
  top: 30;
  right: 30;
  font-size: 40px;
  z-index: 999;
  transition: 250ms ease-in-out;
  top: 10;
}
.user-modal-close:hover {
  color: rgb(0, 255, 213);
  cursor: pointer;
}

.user-profile {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 0;
}
.user-profile ul {
  display: flex;
  margin: 2rem 0rem;
  gap: 1rem;
}
.user-profile h2 {
  text-align: center;
  font-family: "Trade Winds", system-ui;
  font-size: clamp(35px, 3vw, 50px);
  color: #c7c7c7;
}
.user-profile .nickname {
  text-shadow: 0px 3px 15px rgb(0, 255, 213);
  letter-spacing: 2px;
}
.user-profile .tooltip-user-modal {
  background-color: #c7c7c7;
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 45;
  right: 130;
  opacity: 0;
  z-index: 1;
  transition: 250ms ease-in-out;
  padding: 0.2rem 0.9rem;
  border-radius: 1rem;
}
.user-profile .tooltip-user-modal p {
  color: black;
  font-family: "Trade Winds", system-ui;
  z-index: 1;
}
.user-profile .tooltip-user-modal div {
  position: absolute;
  bottom: -2;
  z-index: -1;
  background-color: #c7c7c7;
  left: 10;
  width: 0.8rem;
  height: 1rem;
  transform: rotate(80deg);
}
.user-profile .user-informations {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.user-profile .user-informations li:last-child {
  position: relative;
  cursor: pointer;
  text-shadow: 0px 3px 15px rgb(0, 255, 213);
}
.user-profile .user-informations li:last-child:hover .tooltip-user-modal {
  opacity: 1;
}
.user-profile .user-informations li:last-child::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: rgb(0, 255, 213);
  transition: width 0.5s, left 0.5s;
  right: 0;
  box-shadow: 0px 3px 15px rgb(0, 255, 213);
}
.user-profile .user-informations li:last-child:hover::after {
  width: 100%;
  left: 0;
}
.user-profile button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  background-color: #c7c7c7;
  border: none;
  font-family: "Trade Winds", system-ui;
  padding: 1rem;
  z-index: 2;
  cursor: pointer;
  text-wrap: nowrap;
}
.user-profile button span {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(255, 0, 0);
}
.user-profile button .stat-modal-btn {
  color: #0c0c0c;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 1;
}
.user-profile button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: rgb(255, 0, 0);
  height: 150px;
  width: 230px;
  border-radius: 50%;
}
.user-profile button:hover {
  color: #c7c7c7;
}
.user-profile button:hover span {
  color: white;
}
.user-profile button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}
.user-profile button:hover:before {
  top: -30px;
  left: -30px;
}
.user-profile button:active:before {
  background: rgb(0, 255, 213);
  transition: background 0s;
}
.user-profile p {
  color: #c7c7c7;
}
.user-profile .background-image {
  position: relative;
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
  height: 7rem;
  margin-bottom: 3rem;
}
.user-profile .container-user-icon {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 50%;
  top: 50;
  z-index: 2;
  transform: translate(-50%, 50%);
}
.user-profile .bg-image {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
  height: 7rem;
  background-color: rgb(0, 0, 0);
  position: relative;
  margin-bottom: 2rem;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.user-profile #userIcon {
  width: 4.5rem;
  height: 4.5rem;
}
@media (max-width: 850px) {
  .user-profile #userIcon {
    display: block;
  }
}

.side-nav-bar {
  position: fixed;
  top: 10%;
  left: 0;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.231372549);
  width: 15%;
  z-index: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 1030px) {
  .side-nav-bar {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 4rem;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.89);
    border-top: 1px solid rgba(8, 71, 67, 0.4862745098);
    border-bottom: 1px solid rgba(8, 71, 67, 0.4862745098);
    z-index: 998;
  }
}

#genre-list {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1030px) {
  #genre-list {
    flex-direction: row;
    gap: 2rem;
  }
}
#genre-list li {
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
  transition: 250ms ease-in-out;
  padding: 5px 1.5rem;
  position: relative;
}
#genre-list li span {
  position: relative;
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}
#genre-list li span::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: rgb(0, 255, 213);
  transition: width 0.5s, left 0.5s;
  right: 0;
  box-shadow: 0px 3px 15px rgb(0, 255, 213);
}
#genre-list li span:hover::after {
  width: 100%;
  left: 0;
}
#genre-list li:hover {
  color: #c7c7c7;
  cursor: pointer;
}

@media (max-width: 1030px) {
  .marquee-container {
    width: 100%;
    overflow: hidden;
  }
  .marquee-container #genre-list {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 20s linear infinite;
  }
  .marquee-container #genre-list:hover {
    animation-play-state: paused;
  }
  .marquee-container #genre-list li {
    display: inline-block;
    padding: 0 10px;
  }
  @keyframes marquee {
    0% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
.light-theme {
  background-color: #fbfbfb;
  color: rgb(0, 0, 0);
}
.light-theme .header {
  background-color: rgba(255, 255, 255, 0.795);
  backdrop-filter: blur(0px);
}
.light-theme .header .buttons-register button {
  color: black;
}
.light-theme .header .logo-header {
  color: black;
}
.light-theme .card-container {
  background-color: white;
}
.light-theme .card-container .second-content-card {
  background-color: white;
  color: black;
}
.light-theme .side-nav-bar {
  background-color: rgba(255, 255, 255, 0.795);
}
.light-theme .side-nav-bar #genre-list li span {
  color: black;
}
.light-theme .stats-modal {
  color: #c7c7c7;
}
.light-theme .btns-gallery button {
  color: black;
}
@media (max-width: 850px) {
  .light-theme .btns-and-theme-hamb {
    background-color: rgba(255, 255, 255, 0.795);
  }
}
.light-theme .line {
  stroke: black;
}
.light-theme .wave-group .input {
  border-bottom: 1px solid black;
}
.light-theme .cards-home-game-genres {
  border-bottom: 0.5px solid rgba(36, 35, 35, 0.058);
}
.light-theme .glitch {
  color: black;
}
.light-theme .login-content h2 {
  color: #c7c7c7;
}

.btns-and-theme-hamb {
  align-items: center;
  justify-content: center;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  gap: 2rem;
  transition: transform 0.3s ease-in-out;
}
.btns-and-theme-hamb .span-profiles {
  display: none;
}
@media (max-width: 850px) {
  .btns-and-theme-hamb {
    display: none;
    position: fixed;
    left: 0;
    top: 123px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8901960784);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 50vh;
    padding: 2rem;
    z-index: 1000;
    transform: translateY(-100%);
    border-bottom: 1px solid rgb(0, 255, 213);
  }
  .btns-and-theme-hamb .span-profiles {
    display: block;
    font-family: "Trade Winds", system-ui;
    font-size: clamp(15px, 3vw, 17px);
  }
  .btns-and-theme-hamb .span-profiles::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -4px;
    background: rgb(0, 255, 213);
    transition: width 0.5s, left 0.5s;
    right: 0;
    box-shadow: 0px 3px 15px rgb(0, 255, 213);
  }
  .btns-and-theme-hamb .span-profiles:hover::after {
    width: 100%;
    left: 0;
  }
}

.btns-and-theme-hamb.show-menu {
  transform: translateY(0);
  display: block;
  display: flex;
  gap: 2rem;
}
@media (max-width: 850px) {
  .btns-and-theme-hamb.show-menu .buttons-register {
    flex-direction: column;
  }
}

.profile-cont {
  position: relative;
}

.login-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.login-content {
  margin: 10% auto;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  background-size: 200% 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0.756)) padding-box, linear-gradient(145deg, transparent 35%, rgb(0, 255, 213), #e94be8) border-box;
  border: 2px solid transparent;
  animation: gradient 5s ease infinite;
  backdrop-filter: blur(5px);
  position: relative;
  width: 500px;
  padding: 5rem 0rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (max-width: 1000px) {
  .login-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
}
.login-content h2 {
  text-align: center;
  font-family: "Trade Winds", system-ui;
  font-size: clamp(35px, 3vw, 50px);
}
.login-content p {
  color: #c7c7c7;
  margin-top: 2rem;
}
.login-content p span {
  position: relative;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.login-content p span::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: rgb(0, 255, 213);
  transition: width 0.5s, left 0.5s;
  right: 0;
  box-shadow: 0px 3px 15px rgb(0, 255, 213);
}
.login-content p span:hover::after {
  width: 100%;
  left: 0;
}
.login-content p span:hover {
  color: rgb(0, 255, 213);
}
@media (max-width: 1000px) {
  .login-content {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0;
  }
}

.close-btn {
  color: #aaa;
  position: absolute;
  top: 30;
  right: 30;
  font-size: 40px;
  z-index: 999;
  transition: 250ms ease-in-out;
}
.close-btn:hover {
  color: rgb(0, 255, 213);
  cursor: pointer;
}

.login-box {
  width: 70%;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.login-box form button {
  padding: 10px 50px;
  font-size: clamp(15px, 3vw, 17px);
  border: none;
  border-radius: 5px;
  height: 3rem;
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  color: #c7c7c7;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  text-wrap: nowrap;
}
.login-box form button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "register";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.login-box form button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}
.login-box form button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}
.login-box form button:disabled {
  cursor: not-allowed;
}
.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  transition: 250ms ease-in-out;
}
.login-box .user-box input:focus {
  border-bottom: 1px solid rgb(0, 255, 213);
}
.login-box .user-box input::placeholder {
  font-family: "Trade Winds", system-ui;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(-3px, -3px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  80% {
    transform: translate(3px, -3px);
  }
  to {
    transform: translate(0);
  }
}
@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(-10deg);
  }
  59% {
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}
.singup-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.singup-content {
  margin: 10% auto;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1.5rem;
  background-size: 200% 100%;
  background: linear-gradient(black, rgba(0, 0, 0, 0.756)) padding-box, linear-gradient(145deg, transparent 35%, rgb(0, 255, 213), #e94be8) border-box;
  border: 2px solid transparent;
  animation: gradient 5s ease infinite;
  backdrop-filter: blur(5px);
  position: relative;
  width: 500px;
  padding: 5rem 0rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (max-width: 1000px) {
  .singup-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
}
.singup-content h2 {
  text-align: center;
  font-family: "Trade Winds", system-ui;
  font-size: clamp(35px, 3vw, 50px);
}
.singup-content p {
  color: #c7c7c7;
  margin-top: 2rem;
}
.singup-content p span {
  position: relative;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
.singup-content p span::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: rgb(0, 255, 213);
  transition: width 0.5s, left 0.5s;
  right: 0;
  box-shadow: 0px 3px 15px rgb(0, 255, 213);
}
.singup-content p span:hover::after {
  width: 100%;
  left: 0;
}
.singup-content p span:hover {
  color: rgb(0, 255, 213);
}
@media (max-width: 1000px) {
  .singup-content {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    margin: 0;
  }
}

/*# sourceMappingURL=index.css.map */
