@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap");
.wave-group {
  position: relative;
}

.logo-header {
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  font-size: clamp(10px, 3vw, 17px);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.logo-header span {
  color: rgb(0, 255, 213);
}

.wave-group .input {
  font-size: clamp(10px, 3vw, 15px);
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  color: #c7c7c7;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: clamp(10px, 3vw, 15px);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: rgb(0, 255, 213);
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(0, 255, 213);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.231372549);
}

.buttons-register {
  display: flex;
  gap: 2rem;
}
@media (max-width: 800px) {
  .buttons-register {
    display: none;
  }
}

.user-icon {
  width: 2rem;
  border-radius: 50%;
  background-color: rgb(0, 255, 213);
  height: 2rem;
}
@media (max-width: 800px) {
  .user-icon {
    display: none;
  }
}

.buttons-register button,
button::after {
  padding: 10px 50px;
  font-size: clamp(10px, 3vw, 17px);
  border: none;
  border-radius: 5px;
  font-family: "Trade Winds", system-ui;
  letter-spacing: 2px;
  color: #c7c7c7;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.buttons-register button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "register";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.buttons-register button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.buttons-register button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.buttons-register button:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }
  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }
  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }
  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }
  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }
  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }
  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }
  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }
  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
.hamburger {
  cursor: pointer;
  display: none;
}
@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 1.7em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #c7c7c7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

body {
  background-color: #0c0c0c;
  color: #c7c7c7;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #c7c7c7;
}

li {
  list-style: none;
}

.container {
  max-width: 1800px;
}

section {
  align-items: center;
  justify-content: center;
  display: flex;
}

.custom-shape-divider-top-1710960493 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  line-height: 0;
}

.custom-shape-divider-top-1710960493 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1710960493 .shape-fill {
  fill: rgba(8, 71, 67, 0.4862745098);
}

.side-nav-bar {
  position: fixed;
  top: 10%;
  left: 0;
  height: 90%;
  background-color: #0c0c0c;
  background-color: rgb(74, 73, 73);
  width: 15%;
  z-index: 0;
}
@media (max-width: 815px) {
  .side-nav-bar {
    width: 100%;
    height: 5rem;
    z-index: 100;
  }
}

.container-hero {
  margin-left: 15%;
  margin-top: 8rem;
}
@media (max-width: 815px) {
  .container-hero {
    margin-left: 0%;
    margin-top: 10rem;
  }
}

.container-hero h1 {
  text-align: start;
  margin: 0rem 0rem 3rem 5rem;
  font-family: "Trade Winds", system-ui;
  font-weight: 600;
  font-size: clamp(35px, 3vw, 50px);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  letter-spacing: 2px;
  display: none;
}
@media (max-width: 815px) {
  .container-hero h1 {
    text-align: center;
    margin: 2rem 1rem;
  }
}

.container-hero h1 span {
  color: rgb(0, 255, 213);
}

.main-gallery {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: self-start;
  gap: 2rem;
  padding-bottom: 5rem;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(8, 71, 67, 0.4862745098);
  border-radius: 2rem;
  cursor: pointer;
}

.card-container {
  width: 310px;
  background-color: rgb(11, 9, 9);
  border-radius: 2.5rem;
  position: relative;
  transition: 250ms;
  padding-bottom: 1.5rem;
}
@media (max-width: 400px) {
  .card-container {
    width: 100%;
  }
}

.stats-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.stats-cards p {
  color: rgb(0, 255, 213);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
  font-family: "Trade Winds", system-ui;
}

.cards-home-game-title {
  font-family: "Trade Winds", system-ui;
  text-align: center;
  margin: 0 1.5rem;
  margin-bottom: 20px;
}

.first-content-card {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.img-content > div {
  text-align: center;
}

.first-content-card img {
  border-radius: 2rem 2rem 0rem 0rem;
}

.second-content-card {
  position: absolute;
  top: 92%;
  left: 50%;
  width: 310px;
  transform: translateX(-50%);
  background-color: rgb(11, 9, 9);
  border-radius: 0rem 0rem 2.5rem 2.5rem;
  padding: 0.4rem 2.5rem 1rem 2.5rem;
  color: #c7c7c7;
  display: none;
  transition: 250ms;
  z-index: 888;
  font-size: 10px;
}

.card-container:hover {
  border-radius: 2.5rem 2.5rem 1.5rem 1.5rem;
  transform: scale(1.03);
  z-index: 888;
}

.first-content-card img:hover {
  backdrop-filter: grayscale(100%);
}

.card-container:not(:hover) .first-content-card img {
  backdrop-filter: grayscale(100%);
}

.card-container:hover .second-content-card {
  display: block;
}

.cards-home-game-genres {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.view-details-btn {
  margin-top: 10px;
  font-size: 9px;
  letter-spacing: 2px;
  cursor: pointer;
  color: rgb(0, 255, 213);
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Trade Winds", system-ui;
  border: none;
  border-bottom: 1px solid rgb(0, 255, 213);
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
}

.spinner1 {
  background-color: #0c0c0c;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
.footer {
  margin-left: 15%;
  border-top: 1px solid rgb(0, 255, 213);
  box-shadow: 0px -10px 10px -10px rgb(0, 255, 213);
  padding: 2rem;
  display: none;
}
@media (max-width: 815px) {
  .footer {
    margin-left: 0%;
  }
}

.footer-heading {
  text-align: center;
  font-family: "Trade Winds", system-ui;
  font-size: 3.5rem;
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

.modal {
  display: none;
}

/*# sourceMappingURL=index.css.map */
